Repository whiteprints/whiteprint, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, github_actions, documentation, python, testing, dependencies, build, container

Initial commit
  pyproject.toml
Labels: build

Initial commit
  tests/test_python_whiteprint/test_cli/test_init.py
Labels: python, testing

Edit CODEOWNERS
  .github/CODEOWNERS
Labels: ci

separate template
  REUSE.toml
Labels: none

cleanup
  README.md
Labels: documentation

separate template
  .github/workflows/constraints.txt
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
Labels: ci, github_actions, documentation, build

BOM
  .github/CODEOWNERS
  .pre-commit-config.yaml
  BOM/project_dependencies.spdx
  BOM/project_licenses.spdx
  BOM/requirements.txt
  DEPENDENCIES.md
  REUSE.toml
  container/Containerfile
  docs/dependencies.md
  docs/index.md
  pyproject.toml
  tox.ini
Labels: ci, documentation, build

BOM
  BOM/project_dependencies.spdx
  BOM/project_licenses.spdx
  BOM/requirements.txt
Labels: none

.github/labeler.yml:

ci:
  - ".github/**"

github_actions:
  - ".github/workflows/*"

documentation:
  - "README.md"
  - "docs/**"

python:
  - "**/*.py"

testing:
  - "tests/**"

dependencies:
  - "poetry.lock"

build:
  - "noxfile.py"
  - "pyproject.toml"

container:
  - "Containerfile"
  - "Containerfile.containerignore"
